/* Base styles */
@font-face {
  font-family: "Atma-Bold";
  src: url('https://fonts.googleapis.com/css2?family=Atma:wght@700&display=swap');
}

:root {
  --font--1: "Atma-Bold",sans-serif;
}

body {
  background: linear-gradient(
    30deg,
    hsl(220deg 33% 33%) 0%,
    hsl(208deg 45% 35%) 8%,
    hsl(200deg 59% 35%) 17%,
    hsl(194deg 74% 34%) 26%,
    hsl(188deg 85% 34%) 34%,
    hsl(184deg 71% 38%) 43%,
    hsl(177deg 52% 44%) 52%,
    hsl(167deg 43% 53%) 60%,
    hsl(153deg 45% 62%) 68%,
    hsl(130deg 46% 71%) 77%,
    hsl(99deg 56% 75%) 85%,
    hsl(75deg 71% 77%) 93%,
    hsl(56deg 100% 82%) 100%
  );
  color: #b9b6c9;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif, sans-serif;
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  width: 90vw;
  max-width: 1200px;
  min-width: 800px;
  height: 150%;
  margin: auto;
  padding: 20px;
  color:azure;
  background-color: #243642;
  border-radius: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.statebar {
  display: flex;
  color: #ffd900;
  font-size: larger;
  font-family: var(--font--1);
  max-width: fit-content;
  cursor: pointer;
  align-items: center;
  margin: 0 auto 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 3px;
  border-color: antiquewhite;
  background: #aa4b6b;
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}

.category-section {
  margin-bottom: 20px;
}

.category-section h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ff7f3e;
}

.category-section label {
  display: inline-block;
  margin-bottom: 5px;
  color: #ffd700;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff7f3e;
  color: #604cc3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-wrapper-9 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.checkbox-wrapper-9 .tgl {
  display: none;
}

.checkbox-wrapper-9 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: auto;
  height: auto;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
  transition: all 0.2s ease;
  background: #f2f2f2;
  border: 2px solid #ddd;
  border-radius: 20px;
}

.checkbox-wrapper-9 .tgl + .tgl-btn span {
  display: inline-block;
  color: #333;
}

.checkbox-wrapper-9 .tgl:checked + .tgl-btn {
  background: #7FC6A6;
  border-color: #7FC6A6;
}

.checkbox-wrapper-9 .tgl:checked + .tgl-btn span {
  color: #fff;
}

